.line-top4 {
    width: 80vw;
    background-color: #fff;
    height: 1px;
    margin-left: 11rem;
    margin-bottom: 0.1rem;
  }

  .h1_valores{
    padding-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2.4rem;
    margin-left: 12rem;
    color: var(--cor-bg-variacao);
  }

  .tabela-valor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    border: 1px solid red;
  }

  .tabela-img{
    border: 1px solid green;
  }
  .tabela-img img{
    width: 40rem;
    height: 55rem;
  }

  .tabela-text{
    border: 1px solid blue;
  }